@use './partials/variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


@import '~bootstrap/scss/bootstrap';

.jumbotron {
    filter: brightness(0.4);
}

.my-card-position {
    top:20px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: 1000;
}
